@import "../../partials/mixins";
@import '../../partials/variables';
@import "../../partials/typography";

.inventory-labels {
    display: none;
    

    @include tablet {
        display: flex;
        padding: 0.6875rem 2rem;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        padding: 10px 40px 10px 40px;
    }

    &__container--inventory {
        padding-right: 2rem;

        @include tablet {
            padding: 0;
        }
    }

    &__sub-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        &--inventory {
            @include tablet {
                width: 6.6288rem;
            }

            @include desktop {
                width: 221px;
            }
        }

        &--category {
            @include tablet {
                width: 4.44125rem;
            }

            @include desktop {
                width: 174px;
            }
        }

        &--status {
            @include tablet {
                width: 3.44125rem;
            }

            @include desktop {
                width: 174px;
            }
        }

        &--qty {
            @include tablet {
                width: 2.25375rem;
            }

            @include desktop {
                width: 87px;
            }
        }

        &--warehouse {
            @include tablet {
                width: 5.25375rem;
            }

            @include desktop {
                width: 174px;
            }
        }

        &--actions {
            @include tablet {
                width: 5.8125rem;
                justify-content: flex-end;
            }
        }
    }

    &__text {

        @include tablet {
            font-size: 12px;
            line-height: 18px;
            color: map-get($color-secondary, table-column-header);
            }
    }

    &__icon-image {
        @include tablet {
            height: 16px;
        }
    }
}
