@import "../../partials/mixins";
@import "../../partials/typography";
@import "../../partials/variables";

.deleteModal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
    display: flex;
    justify-content: center;

    @include tablet{
    background-color: rgba(0, 0, 0, 0.5);

    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 667px;
        padding: 1rem;
        margin: 0 auto;
        background-color: white;
        @include tablet{
            margin: 185px auto 0;
            width: 672px;
            height: 262px;
            padding: 1rem 2rem;
        }
    }
    &__close-wrapper{
        display: flex;
        justify-content: flex-end;

        .close-img {
            cursor: pointer;
        }
    }
    &__btn-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
            margin-top: 381px;
        width: 100%;
        @include tablet{
            margin-top: auto;
            justify-content: flex-end;
        }
    }
    &__btn{
        width: 135px;
        padding: .5rem;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
            border: solid 1px #2E66E5;
            color: #2E66E5;
        }
        &--delete{
            background-color: #C94515;
            color: white;
            &:hover {
                border: none;
                color: white;
                background-color: #232940;
            }
            @include tablet{
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
        }
        @include tablet{
            margin-bottom: 1rem;
        }
       
    }
}