@import './partials/variables';
@import './partials/mixins';

*, *::before, *::after {
    @include normal;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($color-background, 'page-bg');
    position: relative;
    height: 500vh;
}