// <<<<<<<< FONT FACE >>>>>>>> \\

// <<<<<<<< REGULAR >>>>>>>> \\

@font-face {
    font-family: 'regular';
    src: url('../assets/fonts/TitilliumWebRegular.ttf') format('truetype');
}

// <<<<<<<< SEMI-BOLD >>>>>>>> \\

@font-face {
    font-family: 'semi-bold';
    src: url('../assets/fonts/TitilliumWebSemiBold.ttf') format('truetype');
}