// <<<<<<<<<< IMPORTS MIXIN >>>>>>>>>> \\
@import '../../partials/mixins';

// <<<<<<<<<< ADD WAREHOUSE STYLING >>>>>>>>>> \\
.add-warehouse {
    display: flex;
    justify-content: center;
    width: calc(21.4375rem + (361 / 393) * (100vw - 23.4375rem));

    @include tablet {
        width: calc(44rem + (316 / 512) * (100vw - 48rem));
    }

    @include desktop {
        width: 63.75rem;
    };

    &__card {
        width: 100%;
        border-radius: 3px;
        box-shadow: 2px 0 5px 0 rgba($color: #13182C, $alpha: 0.1);
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    &__header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        border-bottom: solid 1px map-get($color-secondary, dividers);
        padding-left: 1.75rem;
        background-color: map-get($color-primary, global-white);
        @include tablet {
            padding-left: 2.25rem;
        }
    }

    &__arrow {
        height: 1rem;
        margin-top: 2.75rem;
        margin-right: 0.75rem;
        @include tablet {
            margin-top: 2.8125rem;
        }
    }

    &__title {
        margin-top: 2.25rem;
        @include mob-page-header;
        text-transform: capitalize;
        color: map-get($color-primary, global-text);
        @include tablet {
            @include page-header;
            margin-top: 2rem;
            margin-bottom: 1.3125rem;
        }
    }

    &__details-form {
        background-color: map-get($color-primary, global-white);
        @include tablet {
            display: flex;
        }
    }

    &__warehouse-details {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        border-bottom: solid 1px map-get($color-secondary, dividers);
        @include tablet {
            width: 50%;
            border-bottom: none;
            border-right: solid 1px map-get($color-secondary, dividers);
            margin-top: 1.5rem ;
            margin-bottom: 1.5rem ;
        }
    }

    &__details-title {
        margin: 1rem 0 1.5rem 1.5rem;
        text-align: left;
        @include mob-sub-header;
        text-transform: capitalize;
        color: map-get($color-primary, global-text);
        @include tablet {
            margin: 0 0 2rem 0.75rem;
        }
        @include desktop {
            margin: 0 0 2rem 1.75rem;
        }
    }

    &__tag {
        margin: 0 0 0.25rem 1.5rem;
        text-align: left;
        @include mob-labels-links-btn;
        text-transform: capitalize;
        color: map-get($color-primary, global-text);
        @include tablet {
            @include label-links-btn;
            margin: 0 0 0.25rem 0.75rem;
        }
        @include desktop {
            margin: 0 0 0.25rem 1.75rem;
        }
    }

    &__insert {
        margin: 0 1.5rem 1rem 1.5rem;
        height: 2.125rem;
        border-radius: 20px;
        border: solid 1px map-get($color-secondary, borders);
        padding: 0.5rem 0 0.5rem 1rem;
        &::placeholder {
            @include mob-labels-links-btn;
            text-transform: capitalize;
            color: map-get($color-primary, global-text);
        }
        @include tablet {
            margin: 0 0.75rem 1.5rem 0.75rem;
        }
        @include desktop {
            margin: 0 1.75rem 1.5rem 1.75rem;
        }
    }

    &__contact-details {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        @include tablet {
            width: 50%;
            border-bottom: none;
            margin-top: 1.5rem ;
            margin-bottom: 1.5rem ;
        }
    }

    &__btn-func {
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        background-color: rgba( map-get($color-background, cta-bg), $alpha: 0.75) ;
        @include tablet {
            align-items: center;
            margin: 0;
            justify-content: flex-end;
            height: 4.375rem;
            padding: 0 0.75rem 0 0;
        }
        @include desktop {
            padding: 0 1.75rem 0 0;
        }
    }

    &__btn {
        height: 2.25rem;
        width: 8.6875rem;
        border-radius: 20px;
        border: transparent;
        @include mob-labels-links-btn;
        text-transform: capitalize;
        color: map-get($color-primary, global-text);
        @include tablet {
            width: 4rem;
            height: 2.375rem;
        }
        @include tablet {
            width: 4.5rem;
        }
        &--cancel {
            background-color: map-get($color-primary, global-white);
            border: solid 1px map-get($color-secondary, borders);
        }
        &--save {
            background-color: map-get($color-primary, interactive-el);
            color: map-get($color-primary, global-white);
            @include tablet {
                margin-left: 1rem;
            }
        }
    }
}