@import "../../partials/mixins";
@import '../../partials/variables';

.card {
    width: calc(21.4375rem + (361 / 393) * (100vw - 23.4375rem));
    background-color: map-get($color-primary, global-white);
    padding-bottom: 1.6875rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    &:first-of-type{
        border-top: none;
    }

    @include tablet {
        width: calc(704px + (316 / 512) * (100vw - 768px));
        border-bottom: 1px solid map-get($color-secondary, dividers);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
    @include desktop {
        width: 1020px;
        padding: 0 2.5rem;
    }

    &__top-container {
        border-top: 1px solid map-get($color-secondary, dividers);
        padding: 1rem 1.5rem 1.1875rem 1.5rem;
        display: flex;

        @include tablet {
            height: fit-content;
            justify-content: space-between;
            border-top: none;
            padding: 0.2rem 0;
            align-items: center;
        }
        @include desktop{
            justify-content: left;
        }
    }

    &__warehouse-address {
        display: flex;
        flex-direction: column;
        flex: 50%;

        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__warehouse {
        display: flex;
        flex-direction: column;
    }

    &__subheader {
        font-size: 0.6875rem;
        line-height: 1rem;
        padding-bottom: 0.25rem;
        color: map-get($color-secondary, table-column-header);
        font-weight: 800;

        @include tablet {
            display: none;
        }
    }

    &__location-container {
        height: fit-content;
        display: flex;
        @include tablet {
            padding-top: 1.2rem;
            width: 9.041875rem;
            align-items: flex-end;
        }

        @include desktop {
            width: 13.586875rem;
        }
    }

    &__location {
        margin-bottom: 1rem;
        color: map-get($color-primary, interactive-el);
        font-size: 0.8125rem;
        line-height: 1.25rem;
        position: relative;

        @include desktop{
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }

    &__chevron {
        position: absolute;
        width: 0.97125rem;
        height: 1.25rem;
        margin-top: .1rem;
    }

    &__info {
        font-size: 0.8125rem;
        line-height: 1.25rem;
        display: flex;
        flex-wrap: wrap;
        color: map-get($color-primary, global-text);
        //padding-bottom: 1rem;

        @include tablet {
            width: 5.9375rem;
        }

        @include desktop{
            font-size: 0.875rem;
            line-height: 1.375rem;
        }

        &--address {
            width:6.9375rem;
            height: 2.5rem;
            @include mob-labels-links-btn;
            @include tablet {
                letter-spacing: -0.03rem;
                @include label-links-btn;
                height: fit-content;
                width: 5.4375rem;
            }
            @include desktop {
                width: 16.3125rem;
            }
        }

        &--name {
            margin-bottom: 1rem;
            @include mob-labels-links-btn;
            @include tablet {
                letter-spacing: -0.03rem;
                @include label-links-btn;
                margin-bottom: 0;
            }
            @include desktop {
                width: 10.875rem;
            }
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;

        @include tablet {
            width: 8.75rem;
            //padding-right: 2rem;
            justify-content: space-between;
        }
        @include desktop{
            width: 16.3125rem;
        }
    }

    &__contact-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 50%;
        margin-left: 1.5rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
            margin: 0;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include tablet {
            flex-direction: row;
            justify-content:left;
            align-items: center;
            width: 7.5625rem;
        }
        @include desktop{
            width: 16.3125rem;
        }
    }

    &__contact-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include tablet {
            width: 11rem;
            height: 2.75rem;
        }

        @include desktop {
            width: 10.875rem;
        }
    }

    &__phone-email{
        width: fit-content;
        height: 2.5rem;
        @include mob-labels-links-btn;
        @include tablet{
            width:11.8125rem;
        }

        @include desktop{
            width: 18.3125rem;
        }
    }

    &__phone {
        padding-bottom: 0;
        width: 7.5625rem;
    }

    &__icons {
        display: flex;
        padding: 0 1.5rem;
        justify-content: space-between;
        width: 90%;

        @include tablet {
            width: 3.75rem;
            padding: 0;
        }
    }

    &__delete-icon{
        width: 1.5rem;
        margin-left: -.175rem;
    }

    &__edit-icon{
        width: 1.5rem;
        margin-right: -.035rem;
    }

    &__email {
        letter-spacing: -0.03rem;
        @include label-links-btn;
    }
}

.card-tab {
    display: none;
    @include tablet {
        display: block;
    }
}

.card-mob {
    @include tablet {
        display: none;
    }
    
}