@import '../../partials/variables';
@import '../../partials/mixins';

.warehouse {
    @include normal;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    width: 343px;
    height: 1709px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;

    &__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 24px 24px;
        border-bottom: solid #BDC5D5 1px;
        height: 92px;
        
        .banner {
            &__header {
                display: flex;
                align-items: center;
            }

            &__arrow {
                width: 16px;
                height: 16px;
            }

            &__heading {
                line-height: 36px;
                font-size: 28px;
                margin: 0 0 0 12px;
            }

            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                // background: #2E66E6;
                border-radius: 20px;
                outline: none;
                border: none;
                width: 36px;
                height: 36px;

                .button {

                    &__icon {
                        width: 15px;
                        height: 15px;
                    }
                    &__text {
                        display: none;
                    }
                }
            }
        }
    } 
    
    &__info {
        border-bottom: solid #BDC5D5 1px;
        padding: 16px 24px;
    }

    &__address {

    }

    &__contact {
        display: flex;
        justify-content: space-between;
    }

    &__inventory {
        display: none;
    }

    &__inventory-mobile {
        
    }
}