@import '../../partials/variables';
@import '../../partials/mixins';

.warehouse {
    @include normal;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    width: 343px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;

    &__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 24px 24px;
        border-bottom: solid #BDC5D5 1px;
        height: 92px;
        
        .banner {
            &__header {
                display: flex;
                align-items: center;
            }

            &__arrow {
                width: 24px;
                height: 24px;
            }

            &__heading {
                width: 122px;
                line-height: 36px;
                font-size: 28px;
                font-weight: 600;
                margin: 0 0 0 12px;
            }

            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #2E66E6;
                border-radius: 20px;
                outline: none;
                border: none;
                width: 36px;
                height: 36px;

                .button {

                    &__icon {
                        width: 19px;
                        height: 19px;
                    }
                    &__text {
                        display: none;
                    }
                }
            }
        }
    } 
    
    &__info {
        border-bottom: solid #BDC5D5 1px;
        padding: 16px 24px;
    }

    &__address {
        margin: 0 0 16px;

        .address {
            &__heading{
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;

            }
            &__street {
                font-size: 13px;
                line-height: 20px;
            }
            &__city {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: space-between;

        &-name {
            
            .title{
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;

            }
            .name {
                font-size: 13px;
                line-height: 20px;
            }
            .position {
                font-size: 13px;
                line-height: 20px;
            }
        }

        &-info {
            .title {
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;

            }

            .number {
                font-size: 13px;
                line-height: 20px;
            }

            .email {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    &__inventory {
        display: none;
    }

    &__inventory-mobile {
        display: flex;
        flex-direction: column;

        .inventory {
        padding: 16px 24px 24px;
        border-bottom: solid #BDC5D5 1px;

            &__item {
                display: flex;
                align-items: center;
                margin: 0 0 20px;
                
                .item {
                    &__name {
                        width: 140px;

                        .heading {
                            color: #5C667E;
                            font-size: 11px;
                            line-height: 16px;
                            font-weight: 600;
                            margin: 0 0 4px;

                        }
                        
                        .link {
                            height: 24px;
                            display: flex;
                            align-items: center;
                        }
                        .item {
                            margin: 0 0 0 0;
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 20px;
                            color: #2E66E5;
                        }
                        .icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    
                    &__status {
                        width: 140px;

                        .heading {
                            color: #5C667E;
                            font-size: 11px;
                            line-height: 16px;
                            font-weight: 600;
                            margin: 0 0 4px;

                        }
                        .value {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 24px;
                            border-radius: 20px;
                            font-size: 11px;
                            line-height: 16px;
                            font-weight: 600;
                            
                            &__in {
                                color: #158463;
                                background: rgba(21, 132, 99, 0.07);                            ;
                                width: 61px;

                            }

                            &__out {
                                color: #C94515;
                                background: rgba(201, 69, 21, 0.07);                            ;
                                width: 86px;
                            }
                        }
                    }
                }
            }   

            &__info {
                display: flex;
                margin: 0 0 19px;

                .item {
                    &__category {
                        width: 140px;

                        .heading {
                            color: #5C667E;
                            font-size: 11px;
                            line-height: 16px;
                            font-weight: 600;
                            margin: 0 0 4px;
                        }
                        .type {
                            font-size: 13px;
                            line-height: 20px;
                        }
                    }
                    
                    &__quantity{
                        width: 140px;

                        .heading {
                            color: #5C667E;
                            font-size: 11px;
                            line-height: 16px;
                            font-weight: 600;
                            margin: 0 0 4px;
                        
                        }
                        .amount {
                            font-size: 13px;
                            line-height: 20px;
                        }
                    }
                    
                }
            }

            &__buttons {
                display: flex;
                justify-content: space-between;
            }
            &__delete{
                
            }
            &__edit {

            }
        
        }
    }
}