@import "../../partials/mixins";
@import '../../partials/variables';
@import "../../partials/typography";

.inventory-card {
    width: 100%;
    background-color: map-get($color-primary, global-white);
    border-top: 1px solid map-get($color-secondary, dividers);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    &:hover {
        background-color: rgba(46, 102, 230, 0.07);
    }

    &:first-of-type{
        border-top: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;

        .inventory-card__chevron {
            transform: translate(4px, 0);
        }
    }

    @include tablet {
        //width: 704px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.125rem 2rem 1.125rem 2rem;
    }

    @include desktop {
        height: 3.625rem;
        padding: 1.125rem 2.5rem 1.125rem 2.5rem;
    }

    &__top-container {
        padding: 1rem 2.1875rem 1.6875rem 1.8125rem;
        display: flex;
        flex-wrap: wrap;

        @include tablet {
            height: 1.375rem;
            padding: 0;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__item-category {
        display: flex;
        flex-direction: column;
        flex: 50%;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }

    &__inventory-item {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.25rem;
        width: 50%;
        order: 1;

    @include tablet {
        order: 1;
        width: 9.375rem;
        padding: 0;
    }
    @include desktop {
        width: 13.8125rem;
    }
    }

    &__subheader {
        padding-bottom: 0.25rem;
        @include mob-table-header;
        color: map-get($color-secondary, table-column-header);

        @include tablet {
            display: none;
        }
    }

    &__item-container {
        display: flex;
        align-items: flex-end;
        
        @include tablet {
            width: 6.6288rem;
        }

        @include desktop {
            width: 13.8125rem;
        }
    }

    &__stock-item {
        color: map-get($color-primary, interactive-el);
        @include mob-table-header;
        font-family: 'Titillium';
        font-weight: 600;
        position: relative;

        @include tablet {
            @include table-header;
        }
    }

    &__stock-item-chevron {
        height: 0.770625rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chevron {
        width: 0.77125rem;
        margin-top: -0.2rem;
        @include tablet {
            height: 0.625rem;
        }
    }

    &__info {
        @include mob-body-medium;
        font-family: 'Titillium';
        display: flex;
        flex-wrap: wrap;
        color: map-get($color-primary, global-text);
        padding-bottom: 1.1875rem;

        @include tablet {
            width: 4.44125rem;
            padding: 0;
            &--quantity{    
                width: 3.8125rem;

                @include desktop {
                    width: 5.4375rem;
                }
            }
            
            &--location {
                width: 7.9375rem;
                @include tablet {
                    width: 5.25375rem;
                }
                @include desktop {
                    width: 10.875rem;
                }
            }
            @include body-medium;
        }
    }

    &__category {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        width: 50%;
        order: 3;

        @include tablet {
            width: 7.5625rem;
            padding: 0;
            order: 2;
            // width: 100%;
        }

        @include desktop {
            width: 10.875rem;
        }
    }

    &__status-qty-warehouse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 50%;
        margin-left: 1.5rem;

        @include tablet {
            flex-direction: row;
            margin: 0;
        }
    }

    &__status {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        width: 50%;
        order: 2;

        @include tablet {
            justify-content: center;
            width: 7.625rem;
            order: 3;
            //width: 100%;
        }

        @include desktop {
            width: 10.875rem;
        }
    }

    &__stock {

        &--in{
            @include mob-table-header;
            text-transform: uppercase;
            color: map-get($color-supporting, in-stock-label);
            background: rgba(21, 132, 99, 0.07);
            border-radius: 20px;
                width: 3.8125rem;
            height: 1.5rem;
            justify-content: center;
            align-items: center;
            display: flex;
            @include tablet {
                @include body-small;
                width: 4.0625rem; 
            }
        }

        &--out {
            @include mob-table-header;
            text-transform: uppercase;
            color: map-get($color-supporting, out-of-stock-label);
            background: rgba(201, 69, 21, 0.07);
            border-radius: 20px;
            justify-content: center;
            width: 5.375rem;
            height: 24px;
            display: flex;
            align-items: center;
            @include tablet {
                @include body-small;
                width: 5.75rem; 
            }
        }
    }

    &__quantity {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        order: 4;

        @include tablet {
            width: 3.8125rem;
        }

        @include desktop {
            width: 5.4375rem;
        }
    }

    &__empty {
        width: 50%;
        order: 5;

        @include tablet {
            display: none;
        }
    }

    &__location-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        order: 6;

        @include tablet {
            width: 5.8125rem;
        }

        @include desktop {
            width: 10.875rem;
        }
    }


    &__icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        order: 7;


        @include tablet {
            justify-content: flex-end;
            padding: 0;
            width: 5.8125rem;            
        }

        @include desktop {
            width: 6.875rem;
        }
    }

    &__delete-icon {
        @include tablet {
            margin-top: -0.5rem;
        }
    }

    &__edit-icon {
        @include tablet {
            margin-left: 1.5rem;
        }
    }
}


