@import "../../partials/mixins";
.new-inventory{
    z-index: 2;
    border-radius: 3px;
    box-shadow: 2px 0 5px 0 rgba(19, 24, 44, 0.1);
    background-color: white;
    width: calc(343px + (361 / 393) * (100vw - 375px));

    @include tablet {
        width: calc(704px + (316 / 512) * (100vw - 768px));
    }

    @include desktop {
        width: 1020px;
    }
}