@import "../../partials/mixins";
@import '../../partials/variables';

.warehouse__container {
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    width: calc(21.4375rem + (361 / 393) * (100vw - 23.4375rem));
    
    @include tablet {
        width: calc(44rem + (316 / 512) * (100vw - 48rem));
    }

    @include desktop {
        width: 63.75rem;
    };
}