@import "../../partials/mixins";
@import '../../partials/variables';

.warehouse__container {
    position: absolute;
    top: 7.9375rem;
    box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
}