@import '../../partials/variables';
@import '../../partials/mixins';

.itemDetails {
    @include normal;
    position: absolute;
    top: 8rem;
    display: flex;
    flex-direction: column;
    width: calc(343px + (361/393) * (100vw - 375px));
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
  
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 24px 24px;
        border-bottom: solid #BDC5D5 1px;
        height: 92px;
        
        .banner {

            &__header {
                display: flex;
                align-items: center;
            }

            &__arrow {
                width: 24px;
                height: 24px;
            }

            &__heading {
                line-height: 36px;
                font-size: 28px;
                font-weight: 600;
                margin: 0 0 0 8px;
            }

            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #2E66E6;
                border-radius: 20px;
                outline: none;
                border: none;
                width: 36px;
                height: 36px;

                .button {

                    &__icon {
                        width: 19px;
                        height: 19px;
                    }

                    &__text {
                        display: none;
                    }
                }
            }
        }
    }
    
    &__details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 16px 24px 8px;
    }

    &__about {
        width: 295px;
    }

    &__description {
        width: 295px;
        margin: 0 0 16px;

        .description {

            &__heading{
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;

            }

            &__text {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    &__category {
        width: 295px;
        margin: 0 0 16px;

        .category {

            &__heading{
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;

            }

            &__text {
                font-size: 13px;
                line-height: 20px;
            }
        }
    } 

    &__info {
        width: 295px;
        margin: 0 0 16px;
    }

    &__stock {
        display: flex;
        margin: 0 0 16px;
    }

    &__status {
        width: 156px;

        .status {

            &__heading{
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;
            }
               
            &__value {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                border-radius: 20px;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;


                &--in {
                    color: #158463;
                    background: rgba(21, 132, 99, 0.07);                     
                    width: 61px;

                }

                &--out {
                    color: #C94515;
                    background: rgba(201, 69, 21, 0.07);
                    width: 86px;
                }
            }
        }
    } 
    &__quantity {
        width: 139px;

        .quantity {

            &__heading{
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;

            }

            &__text {
                font-size: 13px;
                line-height: 20px;
            }
        }
    } 
    &__warehouse {
        width: 295px;

        .warehouse {

            &__heading{
                color: #5C667E;
                font-size: 11px;
                line-height: 16px;
                font-weight: 600;
                margin: 0 0 4px;

            }

            &__text {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
    
    @media (min-width: 768px) {
        width: calc(704px + (316/512) * (100vw - 768px));

        &__banner {
            padding: 32px calc(32px + (8/512) * (100vw - 768px)) 21px;
            height: 93px;
            
            .banner {

                &__heading {
                    line-height: 40px;
                    font-size: 32px;
                }

                &__button {
                    width: 81px;
                    height: 38px;
                    padding: 8px 16px;
                    justify-content: space-between;

                    .button {

                        &__text {
                            display: initial;
                            color: #FFFFFF;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        
        &__details {
            flex-wrap: nowrap;
            justify-content: initial;
            padding: 24px calc(32px + (8/512) * (100vw - 768px)) 32px;
        }

        &__about {
            margin: 0 40px 0 0;
            border-right: solid #BDC5D5 1px;
            width: calc(319px + (150/512) * (100vw - 768px));
        }

        &__description {
            width: calc(295px + (134/512) * (100vw - 768px));
            margin: 0 0 32px;

            .description {

                &__heading{
                    font-size: 12px;
                    line-height: 18px;

                }

                &__text {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }

        &__category {
            width: calc(295px + (134/512) * (100vw - 768px));
            margin: 0;

            .category {

                &__heading{
                    font-size: 12px;
                    line-height: 18px;

                }

                &__text {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        } 

        &__info {
            width: calc(280px + (150/512) * (100vw - 768px));
            margin: 0;
        }

        &__stock {
            display: flex;
            width: calc(280px + (150/512) * (100vw - 768px));
            margin: 0 0 32px;
        }

        &__status {
            width: calc(154px + (69/512) * (100vw - 768px));

            .status {

                &__heading{
                    font-size: 12px;
                    line-height: 18px;

                }
                
                &__value {
                    font-size: 12px;
                    line-height: 18px;


                    &--in {
                        width: 65px;

                    }

                    &--out {
                        width: 92px;
                    }
                }
            }
        } 
        &__quantity {
            width: calc(126px + (71/512) * (100vw - 768px));

            .quantity {

                &__heading{
                    font-size: 12px;
                    line-height: 18px;

                }

                &__text {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        } 
        &__warehouse {
            width: calc(280px + (150/512) * (100vw - 768px));

            .warehouse {

                &__heading{
                    font-size: 12px;
                    line-height: 18px;

                }

                &__text {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }  
    }

    @media (min-width: 1280px) {
        width: 1020px;

        &__banner {
            padding: 32px 40px 21px;
        } 
        
        &__details {
            padding: 24px 40px 36px;
        }

        &__about {
            width: 469px;
        }

        &__description {
            width: 429px;
        }

        &__category {
            width: 429px;
        }

        &__info {
            width: 430px;
        }

        &__stock {
            width: 430px;
        }

        &__status {
            width: 233px;
        } 

        &__quantity {
            width: 197px;
        } 

        &__warehouse {
            width: 430px;
        }  
    }
}