@import '../../partials/variables';
@import '../../partials/mixins';

.itemEdit {
    @include normal;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: calc(343px + (361/393) * (100vw - 375px));
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }


    &__banner {
        display: flex;
        align-items: center;
        padding: 32px 24px 24px;
        border-bottom: solid #BDC5D5 1px;
        height: 92px;
        
        .banner {

            &__arrow {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }

            &__heading {
                line-height: 36px;
                font-size: 28px;
                font-weight: 600;
                margin: 0 0 0 8px;
            }
        }
    }

    &__form {
        padding: 16px 0 0;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
    }

    &__details {
        padding: 0 24px 24px;
        border-bottom: solid #BDC5D5 1px;

        &-title {
            font-size: 20px;
            line-height: 28px;
            margin: 0 0 24px;
            font-weight: 600;
        }

        &-name {
            display: flex;
            flex-direction: column;
            margin: 0 0 16px;

            #itemName {
                padding: 8px 16px;
                width: 100%;
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #BDC5D5;
                border-radius: 20px;
                font-size: 13px;
                line-height: 20px;
                @include input-state;
            }
        }

        &-description {
            display: flex;
            flex-direction: column;
            margin: 0 0 16px;

            #itemDescription {
                resize: none;
                padding: 8px 16px;
                width: 100%;
                height: 120px;
                background: #FFFFFF;
                border: 1px solid #BDC5D5;
                border-radius: 20px;
                font-size: 13px;
                line-height: 20px;
                @include input-state;

            }
        }

        &-category {
            display: flex;
            flex-direction: column;

            #itemCategory {
                padding: 8px 16px;
                width: 100%;
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #BDC5D5;
                border-radius: 20px;
                font-size: 13px;
                line-height: 20px;
                @include select-drop;
            }
        }
        
        &-label {
            font-size: 13px;
            line-height: 20px;
                font-weight: 600;
                margin: 0 0 4px;
        }
    }

    &__availability {
        padding: 16px 24px;

        &-title {
            font-size: 20px;
            line-height: 28px;
                font-weight: 600;
                margin: 0 0 24px;
        }

        &-status {
            display: flex;
            flex-direction: column;
            margin: 0 0 16px;

            .status{

                &__wrapper {
                    display: flex;
                    align-items: center;
                }

                &__in {
                    display: flex;
                    align-items: center;
                    width: calc((156 / 295) * 100%);

                    &-radio{
                        font-size: 13px;
                        line-height: 20px;
                        margin: 0 0 0 8px;
                    }
                }
                &__out {
                    display: flex;
                    align-items: center;
                    width: calc((139 / 295) * 100%);

                    &-radio{
                        font-size: 13px;
                        line-height: 20px;
                        margin: 0 0 0 8px;
                    }
                }

            }
         
            .checked {
                font-weight: 600;
            }
            
            #itemStatus {
                cursor: pointer;
            }
        }

        &-warehouse {
            display: flex;
            flex-direction: column;
            
            #itemWarehouse {
                padding: 8px 16px;
                width: 100%;
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #BDC5D5;
                border-radius: 20px;
                font-size: 13px;
                line-height: 20px;
                @include select-drop;
            }
        }
        
        &-label {
            font-size: 13px;
            line-height: 20px;
                font-weight: 600;
                margin: 0 0 4px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        background-color: rgba( map-get($color-background, cta-bg), $alpha: 0.75) ;
    }

    &__cancel {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 51px;
        height: 36px;
        width: 139px;
        border-radius: 20px;
        outline: none;
        border: 1px solid #BDC5D5;
        background-color: #FFFFFF;
        color: #5C667E;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;

        &:hover {
            border: solid 1px #2E66E5;
            color: #2E66E5;
        }

    }

    &__save {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 56px;
        height: 36px;
        width: 139px;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: #2E66E5;
        color: white;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;

            &:hover {
                background-color: #232940;
            }

    }

    @media (min-width: 768px) {
        width: calc(704px + (316/512) * (100vw - 768px));
    
        &__banner {
            padding: 32px 24px 21px;
            height: 94px;
            
            .banner {
    
                &__heading {
                    line-height: 40px;
                    font-size: 32px;
                }
            }
        }
    
        &__form {
            padding: 24px 0 0;
        }

        &__inputs {
            flex-direction: row;
        }
    
        &__details {
            padding: 0 32px 32px;
            border-bottom: none;
            border-right: solid #BDC5D5 1px;
            width: calc(351px + (158/512) * (100vw - 768px));
    
            &-title {
                font-size: 20px;
                line-height: 28px;
                margin: 0 0 32px;
            }
    
            &-name {
                margin: 0 0 24px;
    
                #itemName {
                    height: 38px;
                    font-size: 14px;
                    line-height: 22px;
                    @include input-state;
                }
            }
    
            &-description {
                margin: 0 0 24px;
    
                #itemDescription {
                    font-size: 14px;
                    line-height: 22px;
                    @include input-state;
                }
            }
    
            &-category {
    
                #itemCategory {
                    height: 38px;
                    font-size: 14px;
                    line-height: 22px;
                    @include select-drop;
                }
            }
            
            &-label {
                font-size: 14px;
                line-height: 22px;
            }
        }
    
        &__availability {
            width: calc(352px + (158/512) * (100vw - 768px));
            padding: 0 32px 32px;
    
            &-title {
                font-size: 20px;
                line-height: 28px;
                margin: 0 0 32px;
            }
    
            &-status {
                margin: 0 0 24px;
    
                .status{
    
                    &__in {
                        width: 110px;
    
                        &-radio{
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                    &__out {
                        width: 178px;

                        &-radio{
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
            }
    
            &-warehouse {
                
                #itemWarehouse {
                    height: 38px;
                    font-size: 14px;
                    line-height: 22px;
                    @include select-drop;
                }
            }
            
            &-label {
                font-size: 14px;
                line-height: 22px;
            }
        }
    
        &__buttons {
            justify-content: flex-end;
            margin-top: 24px;
            padding: 16px 32px 16px;
        }
    
        &__cancel {
            padding: 8px 16px;
            height: 38px;
            width: 72px;
            font-size: 14px;
            line-height: 22px;
            margin:  0 16px 0 0;
        }
    
        &__save {
            padding: 8px 16px;
            height: 38px;
            width: 61px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    @media (min-width: 1280px) {
        width: 1020px;
    
        &__details {
            width: 509px;
        }
    
        &__availability {
            width: 510px;
    
            &-title {
                font-size: 20px;
                line-height: 28px;
                margin: 0 0 32px;
            }
        }
    }
}