// <<<<<<<<<< IMPORTS >>>>>>>>>> \\

@import "../../partials/mixins";
@import '../../partials/variables';


// <<<<< HEADER COMPONENT STYLING >>>>> \\

.header{
    position: absolute;
    z-index: 1;
    background-color: #232940;
    width: 100%;
    padding: 1.5rem 1rem 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
    }

    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        padding: 1.6875rem calc(2rem + (106/512) * (100vw - 768px)) calc(7.5625rem + (41/512) * (100vw - 768px));   
    }
    @include desktop{
        padding: 1.6875rem calc(8.125rem + (640/1280) * (100vw - 1280px)) 7.5625rem;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        width: 21.5rem;
        @include tablet{
            width: fit-content;
        }
    }
    &__logo{
        height: fit-content;
        width: 129px;
        margin: 0 0 1.5rem;
        @include tablet {
            margin: 0;
        }
    }
    &__btn{
        text-decoration: none;
        background-color: #232940;
        border: none;
        color: map-get($color-secondary, table-sort-icon);
        height: 2.25rem;
        width: 10.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        @include tablet{
            width: 6.6875rem;
            height: 2.375rem;
        }
        
        &:hover{
            cursor: pointer;
        }
    }
}