@import "../../partials/mixins";
@import '../../partials/variables';

.header{
    background-color: #232940;
    width: 100%;
    padding: 1rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        padding: 1.5rem 1.5rem 5rem;    
    }
    @include desktop{
        padding: 1.5rem 130px 121px;
    }
    &__wrapper{
        width: 100%;
        @include tablet{
            width: fit-content;
        }
    }
    &__logo{
        height: fit-content;
        width: 129px;
    }
    &__btn{
        background-color: #232940;
        border: none;
        color: white;
        width: 50%;
        padding: .5rem;
        border-radius: 20px;
        @include tablet{
            width: 107px;
            padding: .7rem;
        }
        
        &:hover{
            cursor: pointer;
        }
        &--active{
            background-color: #13182C;
        }
    }
}