@import '../../partials/mixins';

.copyright {
    padding: 2.5rem 0;
    color: map-get($color-secondary, table-column-header);
    @include mob-body-small;
    font-weight: lighter;
    @include tablet {
        padding: 4.375rem 0;
        @include body-small;
    }
    @include desktop{
        padding: 10.125rem 0;
    }
}