@import "../../partials/mixins";
@import '../../partials/variables';
@import "../../partials/typography";

.navInv {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    background-color: map-get($color-primary, global-white);
    //margin-right: 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    @include tablet {
        height: 5.875rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem 1.375rem 2rem;
    }

    @include desktop {
        padding: 2rem 2.5rem 1.375rem;
    }
    
    &__left {
        width: 100%;
        margin-bottom: 1.5rem;
        
        @include tablet {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 28px;
        line-height: 36px;
        @include mob-page-header;
        font-family: 'Titillium';
        font-weight: 600;

        @include tablet {
            @include page-header;
        }
    }

    &__middle {
        width: 100%;
        margin-bottom: 1rem;

        @include tablet {
            margin-bottom: 0;
        }
    }

    &__search-wrapper {
        width: 18.4375rem;
        height: 2.25rem;
        position: relative;
        display: flex;
        @include tablet {
            width: 185px;
            margin-left: auto;
        }

        @include desktop {
            height: 2.375rem;
            width: 17.125rem;
        }
    }

    &__search {
        outline: none;
        width: 100%;
        background-color: map-get($color-primary, global-white);
        border: 1px solid map-get($color-secondary, outlines);
        border-radius: 20px;
        padding: 0.5rem 1.219375rem 0.5rem 1rem;
        font-size: 13px;
        line-height: 20px;
        font-family: 'regular';
        overflow: scroll;
        transition: 0.2s;
        &:focus {
            border: solid 1px map-get($color-primary, interactive-el);
        }
        &::placeholder {
            @include mob-body-medium;
            font-family: 'Titillium';
            color: map-get($color-secondary, placeholder-text);
            @include tablet {
                @include body-medium;
            }
        }

        @include tablet {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__search-icon {
        margin: 0.5625rem 0 0 -2.219375rem;
        width: 1.093125rem;
        height: 1.093125rem;
    }

    &__right {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

        @include tablet {
            width: 9rem;
            justify-content: flex-end;
        }
    }

    &__button {
        width: 18.4375rem;
        height: 2.25rem;
        background-color: map-get($color-primary, interactive-el);
        border-radius: 20px;
        color: map-get($color-primary, global-white);
        border: none;
        padding: 0.5rem 0;
        text-align: center;
        text-decoration: none;
        font-family: 'Titillium';
        @include mob-body-medium;

        @include tablet {
            @include body-medium;
            width: 8rem;
            margin-left: 1rem;
            font-size: 14px;
            line-height: 22px;
        }

        @include desktop {
            height: 2.375rem;
            padding: 8px 16px;
        }
    }
}