@import "../../partials/mixins";
@import '../../partials/variables';

.warehouse-labels {
    display: none;
    

    @include tablet {
        display: flex;
        padding: 10px 10px 10px 32px;
        align-items: center;
    }

    &__container--address {
        padding-right: 2rem;


    }

    &__sub-container {
        display: flex;
        align-items: center;
        
        
        &--warehouse {
            @include tablet {
                width: 150px;
            }
        }

        &--address {
            @include tablet {
                width: 95px;
            }
        }

        &--name {
            @include tablet {
                width: 121px;
            }
        }

        &--info {
            @include tablet {
                width: 150px;
            }
        }

        &--actions {
            @include tablet {
                width: 110px;
                justify-content: center;
            }
        }
    }

    &__text {

        @include tablet {
            font-size: 12px;
            line-height: 18px;
            color: map-get($color-secondary, table-column-header);
            }
    }

    &__icon-image {
        @include tablet {
            height: 16px;
        }
    }
}
