@import "../../partials/mixins";
@import '../../partials/variables';

.warehouse-labels {
    display: none;

    @include tablet {
        width: 100%;
        height: 2.5rem;
        display: flex;
        padding: 0.625rem 2rem;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        min-width: 100%;
        padding: 0.625rem 2.5rem;
    }

    &__container--address {
        width: 7.5625rem;
        @include desktop {
            width: 16.1125rem;
        }
    }

    &__sub-container {
        display: flex;
        align-items: center;
        @include desktop{
            justify-content: flex-start;
        }
        
        &--warehouse {
            @include tablet {
                width: 9.04125rem;
            }

            @include desktop {
                width: 13.8125rem;
            }
        }

        &--address {
            @include tablet {
                width: 5.9375rem;
            }

            @include desktop {
                width: 16.1125rem;
            }
        }

        &--name {
            @include tablet {
                width: 7.5625rem;
            }

            @include desktop {
                width: 10.875rem;
            }
        }

        &--info {
            @include tablet {
                width: 11.8125rem;
            }

            @include desktop {
                width: 10.875rem;
            }
        }

        &--actions {
            @include tablet {
                width: fit-content;
            }
            @include desktop {
                display: flex;
                justify-content: flex-end;
                width: 6.875rem;
            }
        }
    }

    &__text {

        @include tablet {
            font-size: 0.75rem;
            line-height: 1.125rem;
            color: map-get($color-secondary, table-column-header);
            }
    }

    &__icon-image {
        @include tablet {
            height: 0.75rem;
        }
    }
}
