// <<<<<<<< FONT FACE >>>>>>>> \\

// <<<<<<<< REGULAR >>>>>>>> \\

@font-face {
    font-family: 'Titillium';
    src: url('../Assets/fonts/TitilliumWebRegular.ttf') format('truetype'),
    url('../Assets/fonts/TitilliumWebRegular.woff') format('woff'),
    url('../Assets/fonts/TitilliumWebRegular.woff2') format('woff2');
}

// <<<<<<<< SEMI-BOLD >>>>>>>> \\

@font-face {
    font-family: 'Titillium';
    src: url('../Assets/fonts/TitilliumWebSemiBold.ttf') format('truetype'),
    url('../Assets/fonts/TitilliumWebRegular.woff') format('woff'),
    url('../Assets/fonts/TitilliumWebRegular.woff2') format('woff2');
}