// <<<<<<<< FONT FACE >>>>>>>> \\

// <<<<<<<< REGULAR >>>>>>>> \\

@font-face {
    font-family: 'regular';
    src: url('../Assets/Fonts/TitilliumWebRegular.ttf') format('truetype');
}

// <<<<<<<< SEMI-BOLD >>>>>>>> \\

@font-face {
    font-family: 'semi-bold';
    src: url('../Assets/Fonts/TitilliumWebSemiBold.ttf') format('truetype');
}