// <<<<<<<< FONT FACE >>>>>>>> \\

// <<<<<<<< REGULAR >>>>>>>> \\

@font-face {
    font-family: 'Titillium';
    src: url('../assets/fonts/TitilliumWebRegular.ttf') format('truetype'),
    url('../assets/fonts/TitilliumWebRegular.woff') format('woff'),
    url('../assets/fonts/TitilliumWebRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// <<<<<<<< SEMI-BOLD >>>>>>>> \\

@font-face {
    font-family: 'Titillium';
    src: url('../assets/fonts/TitilliumWebSemiBold.ttf') format('truetype'),
    url('../assets/fonts/TitilliumWebSemiBold.woff') format('woff'),
    url('../assets/fonts/TitilliumWebSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}