// <<<<< MOBILE VIEW FONT SIZE MAP >>>>> \\

$size: (
    "mob-page-header": 1.75rem,
    "mob-sub-header": 1.25rem,
    "mob-labels-links-btn": 0.8125rem,
    "mob-table-header":0.6875rem,
    "mob-body-large":0.9375rem,
    "mob-body-medium": 0.8125rem,
    "mob-body-small": 0.6875rem
);

// <<<<< BREAKPOINTS VARIABLES >>>>> \\

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// <<< TABLET AND DESKTOP VIEW FONT SIZE MAP >>> \\

$size-tab-desk: (
    "page-header": 2rem,
    "sub-header": 1.5rem,
    "labels-links-btn": 0.875rem,
    "table-header": 0.875rem,
    "body-large": 1rem,
    "body-medium": 0.875rem,
    "body-small": 0.75rem
);

// <<<<< FONT COLOR MAP >>>>> \\

$color-primary: (
    "global-text": #13182c,
    "interactive-el": #2E66E5,
    "global-white": #fff
);

$color-secondary: (
    "table-column-header": #5C667E,
    "placeholder-text": #5C667E,
    "outlines":  #BDC5D5,
    "dividers":  #BDC5D5,
    "borders":  #BDC5D5,
    "table-sort-icon":  #BDC5D5,
);

$color-background: (
    "top-nav-header-bg": #232940,
    "cta-btn-hover": #232940,
    "page-bg": #F7F8F9,
    "table-column-header-bg": #F7F8F9,
    "cta-bg": #F7F8F9
);

$color-supporting: (
    "in-stock-label": #158463,
    "out-of-stock-label": #C94515,
    "error-state-del-icon": #C94515
);